@keyframes clickAnimation {
    from {
        transform: scale(1, 1);
        opacity: 0.7;
    }
    to {
        transform: scale(1.2, 1.2);
        opacity: 0;
    }
}
.clickEffect {
    position: fixed;
    z-index: 999999;
    cursor: pointer;
    animation:clickAnimation .2s linear;
}